/*
Home page styling
*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  background-color: rgb(0, 30, 54);
  background: linear-gradient(to bottom, white 25%, rgb(0, 30, 54));
  background-attachment: fixed;
  overflow: auto;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}