.nav-bar { 
    background: rgb(32, 32, 32);
    width: 100%;
    height: 60px;

    .logo {
        display: block;

        img {
            display: block;
            width: auto;
            height: 60px;
        }
    }

    nav {
        display: block;
        text-align: end;
        height: 51px;
        width: 95%;
        margin-top: -42px;

        a {
            font-size: 20px;
            font-family: 'Helvetica Neue';
            color: rgb(116, 116, 116);
            display: inline-block;
            position: relative;
            width: 10%;
            text-decoration: none;
        }
    }
}